/*Posts*/

/*#newPosts{
  min-height: 50px;
  width: 100%;
  background-color: rgba(255,255,255, 0.5);
}*/

/*Post*/

/*.post{
  display: block;
  color: rgba(0, 51, 102, 0.8);
  margin: 25px 0;
  padding: 25px 0;
  min-height: 100px;
  background-color: rgba(255,255,255, 0.5);
}*/

/*Avtor Post*/
/*
.autorPost{
  height: 40px;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
}
.avatarAutor{
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 12px;
  float: left;
  
}
.avatarAutor img{
  width: 100%;
  object-fit: cover;
}
.nameAutor{
  display: inline-block;
  float: left;
  line-height: 35px;
  font-weight: bolder;
}

.postContent{
  margin: 0 25px;
  border-radius: 0;
}
.post .postImg{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.postP{
  
  
}
.postBtns{
  text-align: right;
  margin-right: 25px;
}

.postBtns .btn{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 12px;
  
}
.postBtns .btn img{
  opacity: .5;
}
.postBtns .counter{
  text-align: center;
}
.postBtns .btn:hover{
  cursor: pointer;
}
.postBtns .btn:hover img{
  opacity: .8;
}
.postBtns .btn:active img{
  opacity: 1;
}*/