/*Header*/

.header {
  grid-area: h;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 0 0 10px 10px;
}
/*#logo{
  background-color: #fff;
}*/
.header a img{
  opacity: 0.8;
  display: inline-block;
  margin-top: 10px;
  margin-left: 25px;
  height: 80px;
}
.header a:hover img{
  margin-top: 0;
  margin-left: 15px;
  height: 100px;
  transform: rotate(360deg);
}
.header a:active img{
  margin-top: 10px;
  margin-left: 25px;
  height: 80px;
}