/*Глобальные*/
*{
  margin: 0;
  padding: 0;
  -webkit-transition: all .9s;
  -moz-transition: all .9s;
  -ms-transition: all .9s;
  -o-transition: all .9s;
  transition: all .9s;
}
*:focus{
  outline: none;
}
body{
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  
}
#blur {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  background-image: url('./img/bg2.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
  filter: url('./blur.svg#blur'); /* путь к svg */
  z-index: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}
#root{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.appWrapper{
  overflow: hidden;
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 25px;
}

.appWrapperContent {
  grid-area: c;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 10px;
  overflow: hidden;
}




/*Prototypes-narabotka-vsyakoe*/

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
